{% extends 'base.html' %}
  {% block content %}
      <!-- Page Header -->
      <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>403</h1>
                <span class="subheading">Page Forbidden.</span>
              </div>
            </div>
          </div>
        </div>

      </header>
      <hr> 

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <h1 class="page-heading" >Page Forbidden : 403</h1>
        </div>
    </div>
  {% endblock content %}